:global(.leaflet-popup .leaflet-popup-content-wrapper) {
  border-radius: 5px;
  padding: 0;
}

:global(.leaflet-popup .leaflet-popup-content) {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 0;
}

:global(.leaflet-popup .leaflet-popup-content p) {
  margin: 0;
  border: 0;
}

:global(.leaflet-popup .leaflet-popup-content span:first-child) {
  font-size: 2.5rem;
  line-height: 1;
}

:global(.leaflet-popup-tip) {
  display: none;
}
